@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";

@keyframes highlight {
  0%, 100% {
    background-color: #fef08a; 
  }
  50% {
    background-color: #fde047;
  }
}

.animate-highlight {
  animation: highlight 1s infinite;
}

